@tailwind base;
@tailwind components;
@tailwind utilities;



.separator::after {
  content: "·";
  margin-left: 5px;
  /* Adjust the spacing between the dash and the text as needed */
}



.background-animate {
  background-size: 200%;

  -webkit-animation: AnimationName 7s ease infinite;
  -moz-animation: AnimationName 7s ease infinite;
  animation: AnimationName 7s ease infinite;
}

@keyframes AnimationName {

  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

.pac-target-input::placeholder {
  color: #5c6bc0;
}